/* #region Sticky Footer */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}
/* #endregion */

ul {
    list-style-type: none;   
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
