/* #region Sticky Footer */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}
/* #endregion */

/* name logo */
#name_logo {
    height: 45px;
}

#nav_logo{
    height: 25px;
}

ul {
    list-style-type: none;   
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
